<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/head :: head">
        <meta charset="UTF-8">

    </head>
    <body>
        <!-- Page Container -->
        <div id="page-container" class="page-header-dark main-content-boxed">

            <!-- Main Container -->
            <main id="main-container">

                <div th:replace="fragments/nav :: nav"></div>

                <!-- Page Content -->
                <div class="content">
                    <!-- Table Sections -->
                    <div class="block block-rounded">
                        <div class="block-header block-header-default">
                            <h3 class="block-title">Tính điểm vào ngành xét tuyển
                                <span class="fw-bold text-primary" th:text="${tenNganh}"></span>
                            </h3>
                        </div>
                        <div class="block-content">
                            <p>
                                Tổ hợp có điểm xét tuyển cao nhất:
                                <code th:text="${ThCaoNhat.maToHop + ', ' + ThCaoNhat.diemXT}"></code>.
                                Tổ hợp gốc <span class="fw-bold text-primary" th:text="${THGoc}" ></span>.
                                Ngưỡng đầu vào:  <span th:text="${NguongDauVao}"></span>
                            </p>

                            <!--
                              Separate your table content with multiple tbody sections. Add one row and add the class .js-table-sections-header to a
                              tbody section to make it clickable. It will then toggle the next tbody section which can have multiple rows. Eg:
                
                              <tbody class="js-table-sections-header">One row</tbody>
                              <tbody>Multiple rows</tbody>
                              <tbody class="js-table-sections-header">One row</tbody>
                              <tbody>Multiple rows</tbody>
                              <tbody class="js-table-sections-header">One row</tbody>
                              <tbody>Multiple rows</tbody>
                
                              You can also add the class .show in your tbody.js-table-sections-header to make the next tbody section visible by default
                            -->
                            <div class="table-responsive">
                                <table class="js-table-sections table table-hover table-vcenter table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width: 30px;"></th>
                                            <th style="width: 50%;">Nội dung</th>
                                            <th style="width: 50%;">Chi tiết điểm</th>
                                        </tr>
                                    </thead>

                                    <tbody class="fs-sm">
                                        <tr>
                                            <td class="text-center"></td>
                                            <td class="fw-semibold" th:text="'Khu vực ưu tiên: '+ ${khuVuc}"></td>
                                            <td th:text="${diemUuTienKhuVuc}"></td>
                                        </tr>
                                        <tr>
                                            <td class="text-center"></td>
                                            <td class="fw-semibold" th:text="'Đối tượng ưu tiên: ' + ${doiTuong}"></td>
                                            <td th:text="${diemUuTienDoiTuong}"></td>
                                        </tr>
                                        <tr>
                                            <td class="text-center"></td>
                                            <td class="fw-semibold" th:text="'Điểm cộng(<=3.0)'"></td>
                                            <td th:text="${diemcong}"></td>
                                        </tr>

                                    </tbody>

                                    <!-- 1 -->
                                    <th:block th:each="tohop : ${listKQVSAT}">
                                    <tbody class="js-table-sections-header show table-active" th:classappend="${tohop.isToHopGoc} ? 'show table-active' : ''">
                                        <tr>
                                            <td class="text-center">
                                                <i class="fa fa-angle-right text-muted"></i>
                                            </td>
                                            <td class="fw-semibold">
                                                <div class="py-1">
                                                    <span class="fw-bold text-primary" th:text="'Tổ hợp ' + ${tohop.maToHop} + ' - ' + ${tohop.tenToHop}"></span>
                                                </div>
                                            </td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                    <tbody class="fs-sm">
                                        <tr th:each="mon, iter : ${tohop.dsTenMonThi}">
                                            <td class="text-center"></td>
                                            <td class="fw-semibold" th:text="'Điểm môn ' + ${mon}"></td>
                                            <td th:with="diem=${#lists.size(tohop.dsMonThi) > iter.index ? tohop.getDiemTheoMaMon(tohop.dsMonThi[iter.index]) : null}">

                                                <span th:if="${diem != null and diem.signum() == 0}" class="text-danger">
                                                      Lỗi, điểm nhập vào không nằm trong phân vị nào = 0
                                                    </span>

                                                <span th:if="${diem != null and diem.signum() !=0}" th:text="${diem}"></span>

                                            </td>
                                        </tr>


                                        <tr>
                                            <td class="text-center"></td>
                                            <td class="fw-semibold" th:text="'Điểm tổ hợp xét tuyển (ĐTHXT): ' + ${tohop.congThuc}">  </td>
                                            <td class="fw-bold text-primary" th:text="${tohop.diemTHXT}"></td>
                                        </tr>

                                        <tr>
                                            <td class="text-center"></td>
                                            <td class="fw-semibold">Độ lệch với tổ hợp gốc <span class="fw-bold text-primary" th:text="${THGoc}"></span></td>
                                            <td th:text="${tohop.doLech}"></td>
                                        </tr>

                                        <tr>
                                            <td class="text-center"></td>
                                            <td class="fw-semibold">Điểm ưu tiên (ĐƯT)</td>
                                            <td th:text="${tohop.diemUuTien}"></td>
                                        </tr>
                                        <tr>
                                            <td class="text-center"></td>
                                            <td class="fw-semibold">Điểm xét tuyển (ĐXT) = ĐTHXT + ĐC + ĐƯT - Độ lệch (<=30) </td>
                                            <td th:text="${tohop.diemXT}"></td>
                                        </tr>
                                    </tbody>
                                    </th:block>

                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- END Table Sections -->
                </div>
                <!-- END Page Content -->
            </main>
            <!-- END Main Container -->

        </div>
        <!-- END Page Container -->

    </body>

    <!-- JS -->
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/dashmix.app.min.js}"></script>
    <script>Dashmix.helpersOnLoad(['dm-table-tools-sections']);</script>

</html>