<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/head :: head"></head>

    <body>
        <!-- Page Container -->
        <div id="page-container" class="page-header-dark main-content-boxed">

            <!-- Main Container -->
            <main id="main-container">

                <div th:replace="fragments/nav :: nav"></div>

                <!-- Page Content -->
                <div class="content">
                    <!-- Table Sections -->
                    <div class="block block-rounded">
                        <div class="block-header block-header-default">
                            <h3 class="block-title">Tính quy đổi điểm xét tuyển ĐGNL:
                                <span class="fw-bold text-primary" th:text="${tenNganh}"></span>
                            </h3>
                        </div>
                        <div class="block-content">
                            <p>
                                Tổ hợp có điểm xét tuyển cao nhất:
                                <code th:text="${ThCaoNhat.maToHop + ', ' + ThCaoNhat.diemXetTuyen}"></code>.
                                Tổ hợp gốc <span class="fw-bold text-primary" th:text="${THGoc}"></span>.
                                Ngưỡng đầu vào: <span class="fw-bold text-primary" th:text="${NguongDauVao}"></span>
                            </p>
                            <div class="table-responsive">
                                <table class="js-table-sections table table-hover table-vcenter table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width: 30px;"></th>
                                            <th style="width: 50%;">Nội dung</th>
                                            <th style="width: 50%;">Chi tiết điểm</th>
                                        </tr>
                                    </thead>

                                    <tbody class="fs-sm">
                                        <tr>
                                            <td class="text-center"></td>
                                            <td class="fw-semibold" th:text="'Khu vực ưu tiên: '+ ${khuVuc}"></td>
                                            <td th:text="${diemUuTienKhuVuc}"></td>
                                        </tr>
                                        <tr>
                                            <td class="text-center"></td>
                                            <td class="fw-semibold" th:text="'Đối tượng ưu tiên: ' + ${doiTuong}"></td>
                                            <td th:text="${diemUuTienDoiTuong}"></td>
                                        </tr>
                                    </tbody>

                                    <th:block th:each="tohop : ${listKQDGNL}">
                                       <tbody class="js-table-sections-header show table-active" th:classappend="${tohop.toHopGoc} ? 'show table-active' : ''">
                                          <tr>
                                             <td class="text-center">
                                                   <i class="fa fa-angle-right text-muted"></i>
                                             </td>
                                             <td class="fw-semibold">
                                                   <div class="py-1">
                                                      <span class="fw-bold text-primary" th:text="'Tổ hợp ' + ${tohop.maToHop}"></span>
                                                   </div>
                                             </td>
                                             <td></td>
                                          </tr>
                                       </tbody>

                                        <tbody class="fs-sm">
                                            <tr>
                                                <td class="text-center"></td>
                                                <td class="fw-semibold">Điểm thi ĐGNL</td>
                                                <td th:text="${tohop.diemThi}"></td>
                                            </tr>
                                            <tr>
                                                <td class="text-center"></td>
                                                <td class="fw-semibold">Công thức quy đổi về thang 30 <span class="fw-bold text-primary" th:text="|(THXT gốc: ${THGoc})|"></span>
                                                </td>
                                                <td 
                                                    th:text="${tohop.ctQuyDoi}"
                                                    th:classappend="${tohop.ctQuyDoi.contains('Lỗi')} ? 'text-danger fw-bold' : ''">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-center"></td>
                                                <td class="fw-semibold" >Điểm thi quy đổi</td>
                                                <td th:text="${tohop.diemThiQuyDoi}"></td>
                                            </tr>
                                            <tr>
                                                <td class="text-center"></td>
                                                <td class="fw-semibold">Điểm cộng<span class="fw-bold text-primary">(<= 3.0)</span> </td>
                                                <td th:text="${tohop.diemCong}"></td>
                                            </tr>
                                            <tr>
                                                <td class="text-center"></td>
                                                <td class="fw-semibold">Điểm ưu tiên quy đổi (ĐƯT)</td>
                                                <td th:text="${tohop.diemUuTien}"></td>
                                            </tr>

                                            <!-- <tr>
                                                <td class="text-center"></td>
                                                <td class="fw-semibold">Độ lệch với tổ hợp gốc <span class="fw-bold text-primary" th:text="${THGoc}"></span></td>
                                                <td th:text="${tohop.doLech}"></td>
                                            </tr> -->

                                            <tr>
                                                <td class="text-center"></td>
                                                <td class="fw-semibold">Điểm xét tuyển (ĐXT) = ĐTHXT + ĐC + ĐƯT(<=30) </td>
                                                <td th:text="${tohop.diemXetTuyen}"></td>
                                            </tr>
                                        </tbody>
                                    </th:block>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- END Table Sections -->
                </div>
                <!-- END Page Content -->
            </main>
            <!-- END Main Container -->

        </div>
        <!-- END Page Container -->

    </body>

    <!-- JS -->
    <script th:src="@{/js/dashmix.app.min.js}"></script>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script>Dashmix.helpersOnLoad(['dm-table-tools-sections']);</script>

</html>