<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/head :: head"></head>

    <body>
        <!-- Page Container -->
        <div id="page-container" class="page-header-dark main-content-boxed">

            <!-- Main Container -->
            <main id="main-container">

                <div th:replace="fragments/nav :: nav"></div>

                <!-- Page Content -->
                <div class="content">
                    <!-- Table Sections -->
                    <div class="block block-rounded">
                        <div class="block-header block-header-default">
                            <h3 class="block-title">Tính quy đổi điểm xét tuyển ĐGNL:
                                <span class="fw-bold text-primary" th:text="|${ketqua.tenNganh} (${nganh})|"></span>
                            </h3>
                        </div>
                        <div class="block-content">
                            <p>
                                Tổ hợp gốc quy đổi theo ngành:
                                <span class="fw-bold text-primary" th:text="${ketqua.toHopGoc}"></span>,
                                Ngưỡng đầu vào:
                                <span class="fw-bold text-primary" th:text="${diemSan}"></span>,
                            </p>

                            <!--
                              Separate your table content with multiple tbody sections. Add one row and add the class .js-table-sections-header to a
                              tbody section to make it clickable. It will then toggle the next tbody section which can have multiple rows. Eg:
                  
                              <tbody class="js-table-sections-header">One row</tbody>
                              <tbody>Multiple rows</tbody>
                              <tbody class="js-table-sections-header">One row</tbody>
                              <tbody>Multiple rows</tbody>
                              <tbody class="js-table-sections-header">One row</tbody>
                              <tbody>Multiple rows</tbody>
                  
                              You can also add the class .show in your tbody.js-table-sections-header to make the next tbody section visible by default
                            -->
                            <div class="table-responsive">
                                <table class="js-table-sections table table-hover table-vcenter table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Nội dung</th>
                                            <th>Chi tiết điểm</th>
                                        </tr>
                                    </thead>

                                    <tbody class="fs-sm">
                                        <tr>
                                            <td>Điểm thi ĐGNL</td>
                                            <td th:text="${ketqua.diemThi}"></td>
                                        </tr>
                                        <tr>
                                            <td>Công thức quy đổi về thang 30 <span class="fw-bold text-primary" th:text="|(THXT gốc: ${ketqua.toHopGoc})|"></span>
                                            </td>
                                            <td th:text="${ketqua.ctQuyDoi}"></td>
                                        </tr>
                                        <tr>
                                            <td>Điểm thi quy đổi</td>
                                            <td th:text="${ketqua.diemThiQuyDoi}"></td>
                                        </tr>
                                        <tr>
                                            <td>Điểm cộng</td>
                                            <td th:text="${ketqua.diemCong}"></td>
                                        </tr>
                                        <tr>
                                            <td>Điểm ưu tiên quy đổi</td>
                                            <td th:text="${ketqua.diemUuTien}"></td>
                                        </tr>
                                        <tr>
                                            <td>Điểm xét tuyển = <code>Điểm quy đổi + Điểm cộng + Điểm ưu tiên quy đổi</code></td>
                                            <td th:text="${ketqua.diemXetTuyen}"></td>
                                        </tr>
                                        <tr>
                                            <td><span class="fw-bold" th:text="|Kết quả xét tuyển so với điểm ngưỡng (${diemSan})|"></span></td>
                                            <td>
                                                <span class="badge rounded-pill" 
                                                    th:classappend="${kqDiemSan == 'KHÔNG ĐẠT'} ? 'bg-danger' : 'bg-success'"
                                                    th:text="${kqDiemSan}">
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><span class="fw-bold" th:text="|Kết quả xét tuyển so với điểm trúng tuyển (${diemTrungTuyen})|"></span></td>
                                            <td>
                                                <span class="badge rounded-pill" 
                                                    th:classappend="${kqDiemTT == 'KHÔNG ĐẠT'} ? 'bg-danger' : 'bg-success'"
                                                    th:text="${kqDiemTT}">
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- END Table Sections -->
                </div>
                <!-- END Page Content -->
            </main>
            <!-- END Main Container -->

        </div>
        <!-- END Page Container -->

    </body>

    <!-- JS -->
    <script th:src="@{/js/dashmix.app.min.js}"></script>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script>Dashmix.helpersOnLoad(['dm-table-tools-sections']);</script>

</html>