<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

   <head th:replace="fragments/head :: head"></head>

    <body>
        <!-- Page Container -->
        <div id="page-container" class="page-header-dark main-content-boxed">

            <!-- Main Container -->
            <main id="main-container">

                <div th:replace="fragments/nav :: nav"></div>

                <!-- Page Content -->
                <div class="content">
                    Kết quả tính điểm ĐGNL
                </div>
                <!-- END Page Content -->
            </main>
            <!-- END Main Container -->

        </div>
        <!-- END Page Container -->

    </body>

    <!-- JS -->
    <script th:src="@{/js/dashmix.app.min.js}"></script>
    <script th:src="@{/js/jquery.min.js}"></script>

</html>