<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/head :: head"></head>

    <body>
        <!-- Page Container -->
        <div id="page-container" class="page-header-dark main-content-boxed">

            <!-- Main Container -->
            <main id="main-container">

                <div th:replace="fragments/nav :: nav"></div>

                <!-- Page Content -->
                <div class="content">
                    <!-- Elements -->
                    <div class="block block-rounded">
                        <div class="block-header block-header-default">
                            <h3 class="block-title">Công cụ tham khảo tính điểm xét tuyển</h3>
                        </div>
                        <div class="block-content">
                            <form class="js-validation-vsat" th:action="@{/tinhdiemVSAT}" method="POST">
                                <!-- Basic Elements -->
                                <h2 class="content-heading pt-0">Điểm môn <span class="fw-bold text-primary">
                                        VSAT</span></h2>
                                <div class="row push">
                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <!-- TODO: Should use <option th:each> to replace hardcode -->
                                            <label class="form-label" for="nganh-select">Chọn ngành</label>
                                            <select class="form-select" id="nganh-select" name="nganh-select">
                                                <option selected>Open this select menu</option>
                                                <option value="1">Option #1</option>
                                                <option value="2">Option #2</option>
                                                <option value="3">Option #3</option>
                                                <option value="4">Option #4</option>
                                                <option value="5">Option #5</option>
                                                <option value="6">Option #6</option>
                                                <option value="7">Option #7</option>
                                                <option value="8">Option #8</option>
                                                <option value="9">Option #9</option>
                                                <option value="10">Option #10</option>
                                            </select>
                                        </div>
                                        <div class="mb-4">
                                            <label class="form-label" for="diem-cong-input">Điểm cộng <span class="fw-bold text-primary">
                                                    (<= 3.0)</span></label>
                                            <input type="number" step="0.1" class="form-control" id="diem-cong-input" name="diem-cong-input"
                                                   placeholder="0.0">
                                        </div>
                                        <div class="mb-4">
                                            <label class="form-label" for="khuvuc-select">Khu vực ưu tiên</label>
                                            <select class="form-select" id="khuvuc-select" name="khuvuc-select">
                                                <option selected>Không có</option>
                                                <option value="1">Khu vực 1</option>
                                                <option value="2">Khu vực 2</option>
                                                <option value="3">Khu vực 3</option>
                                                <option value="2NT">Khu vực 2 nông thôn</option>
                                            </select>
                                        </div>
                                        <div class="mb-4">
                                            <label class="form-label" for="doituong-select">Đối tượng ưu tiên</label>
                                            <select class="form-select" id="doituong-select" name="doituong-select">
                                                <option selected>Không đối tượng</option>
                                                <option value="01">Đối tượng 01</option>
                                                <option value="02">Đối tượng 02</option>
                                                <option value="03">Đối tượng 03</option>
                                                <option value="04">Đối tượng 04</option>
                                                <option value="05">Đối tượng 05</option>
                                                <option value="06">Đối tượng 06</option>
                                                <option value="07">Đối tượng 07</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label" for="diem-toan-input">Điểm môn Toán</label>
                                            <input type="number" class="form-control" id="diem-toan-input" name="diem-toan-input"
                                                   placeholder="0">
                                        </div>
                                        <div class="mb-4">
                                            <label class="form-label" for="diem-van-input">Điểm môn Ngữ văn</label>
                                            <input type="number" class="form-control" id="diem-van-input" name="diem-van-input" placeholder="0">
                                        </div>
                                        <div class="mb-4">
                                            <label class="form-label" for="diem-ly-input">Điểm môn Vật lý</label>
                                            <input type="number" class="form-control" id="diem-ly-input" name="diem-ly-input" placeholder="0">
                                        </div>
                                        <div class="mb-4">
                                            <label class="form-label" for="diem-hoa-input">Điểm môn Hoá học</label>
                                            <input type="number" class="form-control" id="diem-hoa-input" name="diem-hoa-input" placeholder="0">
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label" for="diem-sinh-input">Điểm môn Sinh học</label>
                                            <input type="number" class="form-control" id="diem-sinh-input" name="diem-sinh-input"
                                                   placeholder="0">
                                        </div>
                                        <div class="mb-4">
                                            <label class="form-label" for="diem-su-input">Điểm môn Lịch sử</label>
                                            <input type="number" class="form-control" id="diem-su-input" name="diem-su-input" placeholder="0">
                                        </div>
                                        <div class="mb-4">
                                            <label class="form-label" for="diem-dia-input">Điểm môn Địa Lý</label>
                                            <input type="number" class="form-control" id="diem-dia-input" name="diem-dia-input" placeholder="0">
                                        </div>
                                        <div class="mb-4">
                                            <label class="form-label" for="diem-anh-input">Điểm môn Tiếng anh</label>
                                            <input type="number" class="form-control" id="diem-anh-input" name="diem-anh-input" placeholder="0">
                                        </div>
                                        <div class="mb-4">
                                            <button type="submit" class="btn btn-hero btn-primary">Tính điểm</button>
                                        </div>
                                    </div>


                                </div>
                                <!-- END Basic Elements -->
                            </form>
                        </div>
                    </div>
                    <!-- END Elements -->
                </div>
                <!-- END Page Content -->
            </main>
            <!-- END Main Container -->

        </div>
        <!-- END Page Container -->

    </body>

    <!-- JS -->
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/jquery.validate.min.js}"></script>
    <script th:src="@{/js/dashmix.app.min.js}"></script>

    <script th:src="@{/js/vsat_forms_validation.js}"></script>

</html>